/* Here we style the logo */
.Logo {
    background-color: white;
    padding: 8px;
    height: 90%;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Here we style the image within the logo */
.Logo img {
    height: 100%;
}